{% extends '../base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
	<div class="container features">
	<div class="row" >
      <div class="col-lg-12 col-md-4 col-sm-12">
            <h1>{% trans "Password reset complete" %}</h1>
            <p>{% trans "Your new password has been set." %} {% trans "You can log in now on the" %} <a href="{% url 'login' %}">{% trans "log in page"%}</a>.</p>
        </div>
    </div>
    </div>
{% endblock %}